/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400&display=swap');

/* Variables */
:root {
  --main-clr: #000;
  --white-clr: #fff;
  --sidebar-clr: #111112;
  --second-clr: #758090;
  --second-clr-2: #f2f8ff;
  --second-clr-3: hsl(210, 36%, 96%);
  --card-clr: #eafeff;
  --stars-clr: #fcbd1b;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --max-width: 1170px;
  --fixed-width: 620px;
  --radius: 4px;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border-color: transparent;
  cursor: pointer;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--white-clr);
}

.center-sidebar {
  padding: 0 1.5rem;
}

.error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn {
  background: var(--main-clr);
  color: var(--white-clr);
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.page {
  min-height: calc(100vh - (20vh + 10rem));
}
.page-100 {
  min-height: calc(100vh - 10rem);
  padding: 5rem 0;
}

/* cartbag style */
.cart-btn,
.small-cart-btn {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
}

.bag-icon {
  font-size: 1.8rem;
  color: var(--main-clr);
}

.cart-value {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--main-clr);
  color: var(--white-clr);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 12px;
}
