/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
  --main-clr: #000;
  --white-clr: #fff;
  --second-clr: #9fa5ad;
  --card-clr: #eafeff;
  --stars-clr: #fcbd1b;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--white-clr);
}
